@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;700&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Montserrat';
}

body::before {
  content: "";
  background-image: url(../aset/header.png);
  background-size: 70vmax;
  background-repeat: no-repeat;
  background-position: top right;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}

@media screen and (max-width: 992px) {
  body::before {
    opacity: 0.2;
    background-size: 80vmax;
  }
}

.custom-nav .navbar-brand {
  display: inline-block;
  color: #6A66BA;
  font-weight: 700;
  padding: 0 1em;
  border: 3px solid #6A66BA;
  border-radius: 2em;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 1em;
}

.custom-nav .navbar-brand:hover {
  color: #E9E7F6;
  background-color: #6A66BA;
}

.custom-nav .navbar-brand:hover {
  background-color: #6A66BA;
  color: #E9E7F6;
}

.custom-nav #navbarNav .navbar-nav .nav-item .nav-link {
  color: #6A66BA;
  margin-left: 2em;
  text-transform: uppercase;
  font-weight: 500;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.custom-nav #navbarNav .navbar-nav .nav-item .nav-link:hover {
  color: #E9E7F6;
}

.custom-nav #navbarNav .navbar-nav .nav-item .nav-link:hover.active {
  border-bottom: 1px solid #6A66BA;
}

@media screen and (max-width: 992px) {
  .custom-nav #navbarNav .navbar-nav .nav-item .nav-link {
    background-color: #6A66BA;
    color: #E9E7F6;
    padding: 1em 1em;
  }
}

@media screen and (max-width: 992px) {
  .custom-nav {
    margin-top: 1em;
  }
}

.custom-header {
  margin-top: 8em;
}

.custom-header h2 {
  font-weight: 700;
  color: #6A66BA;
  text-transform: uppercase;
  font-size: 3em;
  white-space: nowrap;
  border-bottom: 3px solid #6A66BA;
  letter-spacing: 3px;
}

.custom-header h3 {
  margin-top: 0.5em;
  font-weight: 500;
  font-size: 2em;
  line-height: 1;
  color: #6A66BA;
}

.custom-header p {
  margin-top: 1.5em;
  font-weight: 400;
  font-size: 1em;
  line-height: 1;
  color: #666666;
}

.custom-header a {
  display: inline-block;
  color: #6A66BA;
  font-weight: 400;
  padding: 0 1em;
  border: 1px solid #6A66BA;
  border-radius: 2em;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-top: 0.5em;
}

.custom-header a:hover {
  color: #E9E7F6;
  background-color: #6A66BA;
}

@media screen and (max-width: 992px) {
  .custom-header {
    margin-top: 3em;
    text-align: center;
  }
  .custom-header h1, .custom-header h2, .custom-header h3, .custom-header a {
    text-shadow: 1px 1px 1px rgba(106, 102, 186, 0.4);
  }
  .custom-header h3 {
    color: #8c89ca;
  }
}

.top-content {
  margin-top: 15em;
}

.top-content .row .col-12.col-lg-6 img {
  width: 40vmax;
  border: 1px solid #fff;
  -webkit-box-shadow: 2px 5px 5px 2px black;
          box-shadow: 2px 5px 5px 2px black;
  border-radius: 2em;
}

.top-content .row .col-12.col-lg-6.caption {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 2em;
}

.top-content .row .col-12.col-lg-6.caption h2 {
  font-size: 3em;
  color: #000;
  font-weight: 500;
}

.top-content .row .col-12.col-lg-6.caption p {
  font-size: 1em;
  font-weight: 400;
  color: #000;
  text-transform: capitalize;
}

@media screen and (max-width: 992px) {
  .top-content .row .col-12.col-lg-6 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .top-content .row .col-12.col-lg-6 img {
    width: 50vmax;
    border: none;
    border-radius: 0%;
    margin-bottom: 3em;
  }
  .top-content .row .col-12.col-lg-6.caption {
    display: block;
  }
  .top-content .row .col-12.col-lg-6.caption h2 {
    font-size: 2em;
  }
}

@media screen and (max-width: 992px) {
  .top-content {
    margin-top: 10em;
  }
}

.features {
  margin-top: 15em;
}

.features h1 {
  text-align: center;
  font-size: 3em;
  font-weight: 500;
  color: #000;
  text-transform: capitalize;
}

@media screen and (max-width: 992px) {
  .features h1 {
    font-size: 2em;
  }
}

.features p {
  text-align: center;
  font-size: 1.5em;
  font-weight: 100;
  color: #000;
  text-transform: capitalize;
}

@media screen and (max-width: 992px) {
  .features p {
    font-size: 1em;
  }
}

.features .main-features {
  margin-top: 2em;
}

.features .main-features .row {
  margin-top: 2em;
}

.features .main-features .row .col-md {
  margin: 1em;
  border: 0px solid #E9E7F6;
  padding: 1em;
  border-radius: 1em;
  -webkit-box-shadow: 5px 10px 10px black;
          box-shadow: 5px 10px 10px black;
}

.features .main-features .row .col-md img {
  max-width: 5vmax;
}

.features .main-features .row .col-md h3 {
  margin-top: 1em;
  font-size: 1.5em;
  font-weight: 500;
}

.features .main-features .row .col-md p {
  font-size: 1em;
  font-weight: 400;
  text-align: start;
}

@media screen and (max-width: 992px) {
  .features .main-features .row .col-md img {
    max-width: 10vmax;
  }
}

@media screen and (max-width: 992px) {
  .features {
    margin-top: 8em;
  }
  .features .title {
    font-size: 2em;
  }
  .features .sub-title {
    font-size: 1em;
  }
}

.pricing {
  margin-top: 15em;
}

.pricing h1 {
  text-align: center;
  font-size: 3em;
  font-weight: 500;
  color: #000;
  text-transform: capitalize;
  letter-spacing: 3px;
}

@media screen and (max-width: 992px) {
  .pricing h1 {
    font-size: 2em;
  }
}

.pricing .row {
  margin-top: 2em;
}

.pricing .row .col {
  border: 0px solid black;
  border-radius: 1em;
  -webkit-box-shadow: 2px 4px 10px black;
          box-shadow: 2px 4px 10px black;
  margin: 1em;
  padding: 1em;
}

.pricing .row .col h2 {
  font-size: 2em;
  font-weight: 500;
}

.pricing .row .col h5 {
  font-size: 1.5em;
  font-weight: 400;
  margin-top: 1em;
}

.pricing .row .col h4 {
  font-size: 1.8em;
  color: #6A66BA;
  font-weight: 700;
}

.pricing .row .col p {
  margin-top: 1em;
  font-size: 1em;
  font-weight: 400;
  color: gray;
}

.pricing .row .col ul {
  line-height: 2em;
  list-style: none;
}

.pricing .row .col ul li img {
  max-width: 1vmax;
}

.pricing .row .col a {
  display: inline-block;
  color: #6A66BA;
  font-weight: 500;
  padding: 1em;
  border: 2px solid #6A66BA;
  border-radius: 2em;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pricing .row .col a:hover {
  color: #E9E7F6;
  background-color: #6A66BA;
}

@media screen and (max-width: 992px) {
  .pricing .row .col h2 {
    text-align: center;
  }
  .pricing .row .col h4 {
    font-size: 1.5em;
  }
}

.faq {
  margin-top: 10em;
}

.faq h1 {
  text-align: center;
  font-size: 3em;
  font-weight: 500;
  color: #000;
  text-transform: capitalize;
}

@media screen and (max-width: 992px) {
  .faq h1 {
    font-size: 2em;
  }
}

.faq #accordion {
  margin-top: 3em;
}

.faq #accordion .card {
  margin-top: 1em;
}

.faq #accordion .card button {
  color: #000;
  text-decoration: none;
  text-align: start;
  white-space: inherit;
  font-weight: 500;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.faq #accordion .card button:hover {
  color: #6A66BA;
}

.faq #accordion .card-body {
  text-indent: 1em;
}

.bottom {
  padding: 10em 0 10em 0;
  color: #fff;
  margin-top: 10em;
  text-align: center;
  background-color: #6A66BA;
  max-width: 100vmax;
}

.bottom h1 {
  text-align: center;
  font-size: 3em;
  font-weight: 500;
  color: #000;
  text-transform: capitalize;
  color: #fff;
  font-weight: 700;
  margin-bottom: 0.5em;
}

@media screen and (max-width: 992px) {
  .bottom h1 {
    font-size: 2em;
  }
}

.bottom p {
  text-align: center;
  font-size: 1.5em;
  font-weight: 100;
  color: #000;
  text-transform: capitalize;
  color: #fff;
  padding: 0 5em;
  font-weight: 400;
  margin-bottom: 2em;
}

@media screen and (max-width: 992px) {
  .bottom p {
    font-size: 1em;
  }
}

@media screen and (max-width: 992px) {
  .bottom p {
    padding: 0 2em;
  }
}

.bottom a {
  text-decoration: none;
  color: #fff;
  font-size: 1em;
  font-weight: 500;
  border: 3px solid #fff;
  border-radius: 3em;
  padding: 1em;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.bottom a:hover {
  background-color: #fff;
  color: #6A66BA;
}

footer {
  padding: 5em 5em 0 5em;
  background-color: #333333;
  max-width: 100vmax;
  color: #fff;
}

footer .row.main-footer .col ul h1 {
  font-weight: 500;
}

footer .row.main-footer .col ul li {
  list-style: none;
  line-height: 1.5;
}

footer .row.main-footer .col ul li a {
  text-decoration: none;
  color: #fff;
}

footer .row.main-footer .col ul li a:hover {
  color: #6A66BA;
}

footer .row.main-footer .col.social ul li {
  float: left;
  margin-right: 2em;
}

footer .row.main-footer .col.social ul li a img {
  max-width: 3vmax;
}

footer .row.main-footer .col.social ul li a img:hover {
  opacity: 0.5;
}

footer .row.copyright p {
  margin-top: 2em;
  font-size: 1em;
  font-weight: 500;
}

footer .row.copyright a {
  text-decoration: none;
  color: #fff;
}

footer .row.copyright a:hover {
  color: #6A66BA;
}

@media screen and (max-width: 992px) {
  footer .row.main-footer .col.social ul li {
    margin-right: 1em;
  }
  footer .row.main-footer .col.social ul li a img {
    max-width: 1.5em;
  }
  footer .row.copyright p {
    text-align: center;
    font-size: 0.5rem;
  }
}
/*# sourceMappingURL=main.css.map */